[Desktop Entry]
Name=Gmail Watcher
Name[ca]=Gmail Watcher
Name[cs]=Hlídač Gmailu
Name[en_GB]=Gmail Watcher
Name[es]=Gmail Watcher
Name[fr]=Gmail Watcher
Name[gl]=Gmail Watcher
Name[hr]=Gmail Watcher
Name[hu]=Gmail figyelő
Name[it]=Gmail Watcher
Name[ms]=Pemantau Gmail
Name[oc]=Gmail Watcher
Name[pl]=Dozorca Gmail
Name[pt_BR]=Gmail Watcher
Name[ru]=Отслеживание Gmail
Name[si]=Gmail Watcher
Name[sl]=Opazovalnik Gmail
Name[ta]=ஜிமெயில் வாட்சர்
Name[tr]=Gmail Watcher
Comment=A Gmail Notifier for Ubuntu
Categories=GNOME;GTK;Network;Email;
Exec=gmailwatcher --quite-start
Icon=gmailwatcher
StartupNotify=true
Terminal=false
Type=Application
